<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SpeakLangTestSuite" verbose="1" parallel="methods" thread-count="2">
<parameter name="browser"  value="Edge"/>
	<test name="AppTesting">
		<classes>
			<class name="com.testng.demo.SeleniumDemo" />
		</classes>
	</test>
</suite>